df-messenger {
   --df-messenger-bot-message: #e67728;
   --df-messenger-button-titlebar-color: #463325;
   --df-messenger-chat-background-color: #fafafa;
   --df-messenger-font-color: white;
   --df-messenger-send-icon: #ef6e12;
   --df-messenger-user-message: #6ba664;
   --df-messenger-minimized-chat-close-icon-color:#ef6e12;
  }