.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: rgb(243, 242, 239);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
header .logo {
  font-size: 35px;
  color: #e14807;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  animation: slideRight 1s ease forwards;
  opacity: 0;
}
header .navbar .btn {
  margin-left: 35px;
  background-color: #326423;
}
header .navbar a {
  font-size: 18px;
  display: inline-block;
  color: #000;
  text-decoration: none;
  font-weight: 400;
  margin-left: 35px;
  animation: slideTop 0.5s ease forwards;
  opacity: 0;
  animation-delay: calc(0.2s * var(--clr));
}
header.header .navbar a.btn {
  color: #fff;
}
header .navbar a:hover,
header .navbar a.active {
  color: #ef6e12;
}
/* animation */
@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideBottom {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes Zoom {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}