<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>

		<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">

		<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">

		<link
		rel="manifest" href="/assets/favicon/site.webmanifest">


		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}{% endblock %}


	</head>
	<body>
		{% block body %}{% endblock %}
		{% block javascripts %}{% endblock %}

	</body>
</html>
