<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>

		<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">

		<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">

		<link rel="manifest" href="/assets/favicon/site.webmanifest">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
		<link rel="preconnect" href="https://fonts.googleapis.com"/>
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
		<link
		href="https://fonts.googleapis.com/css2?family=Pathway+Extreme:ital,wght@1,500&family=Play&family=Poppins&family=Ubuntu+Condensed&display=swap" rel="stylesheet"/>

<link rel="stylesheet" href="/assets/css/header.css"/>
<link rel="stylesheet" href="/assets/css/footer.css"/>


		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}{% endblock %}


	</head>
	<body>



		{% block body %}
		
	{% endblock %}
		

{% block javascripts %}{% endblock %}

	</body>
</html>
