<!-- /* footer */ -->
<footer class="footer p-3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-5">
        <h4>About us<div class="underline"></div></h4>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita nihil ipsam rerum tenetur magnam necessitatibus autem non corrupti. Odio aut commodi vero corrupti dignissimos eius laboriosam non vel beatae nisi.</p>
        <div class="row">
          <div class="col-md-12">
            <h4>Contact us<div class="underline"></div></h4>
            <div class="row social-icon">
              <div class="col-md-1">
                <a href="https://www.facebook.com"><i class="fab fa-brands fa-facebook fa-xl"></i></a>
              </div>
              <div class="col-md-1">
                <a href="https://www.instagram.com"><i class="fab fa-brands fa-instagram fa-xl"></i></a>
              </div>
              <div class="col-md-1">
                <a href="https://www.whatsapp.com"><i class="fa-brands fa-whatsapp fa-xl"></i></a>
              </div>
              <div class="col-md-1">
                <a href="https://www.twitter.com"><i class="fa-brands fa-twitter fa-xl"></i></a>
              </div>
            </div>
          </div>
        </div>
        <span class="right">
          <i class="far fa-sharp fa-regular fa-copyright"></i>
          2023 Glamping. All rights reserved.
        </span>
      </div>
      <div class="col-md-3">
        <ul class="list">
          <h4 class="mb-4">Useful links</h4>
          <li class="my-1">
            <a href="{{path('app_catalogue_page')}}">Events</a>
          </li>
          <li class="my-1">
            <a href="">why us</a>
          </li>
          <li class="my-1">
            <a href="/#aboutus">About us</a>
          </li>
          <li class="my-1">
            <a href="">See more</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <h4 class="mb-3">Newsletter</h4>
        <form action=" mailto:farah@gmail.com" method="post">
          <i class="far fa-regular fa-envelope"></i>
          <input type="email" placeholder="Enter your email address" required />
          <button type="submit"><i class="far fa-regular fa-paper-plane"></i></button>
        </form>
        <h4>Office</h4>
        <p class="p-0 m-0">Insat</p>
        <p class="p-0 m-0">Centre Urbain Nord , Tunis</p>
        <p class="p-0 m-1">
          <i class="far fa-regular fa-at me-2"></i>
          Glamping.Support@gmail.com
        </p>
      </div>
    </div>
  </div>
</footer>
